.cart {
  width: 800px;
  max-width: 100%;
  margin: 1rem auto;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 0.5rem;
  background-color: white;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0rem 0.4rem 2rem;
  .cart-header {
    padding: 12px 10px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .process-cart {
    padding: 12px 0;
    border-bottom: 2px solid #f0f3f5;
  }
  .btn-order {
    margin: 15px 20px;
    Button {
      width: 100%;
      padding: 14px 9px;
      background: #008848;
      font-weight: bold;
    }
  }
  .non-cart {
    padding: 20px 0;
    .non-cart-icon {
      color: #c9d2db;
    }
    .btn-home {
      background: #008848;
      font-weight: bold;
    }
  }
}
