.user-form {
  margin: 15px 20px;
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  .mb-12 {
    margin-bottom: 12px;
  }
  .mt-12 {
    margin-top: 12px;
  }
}
