.cart-item {
  padding-top: 15px;
  border-bottom: 1px solid #ededed;
  .cart-badge {
    cursor: pointer;
  }
  .cart-img {
    height: 68px;
    width: 68px;
    margin-right: 10px;
    cursor: default;
  }
  .quantitynum {
    i {
      float: left;
      width: 32px;
      font-size: 23px;
      text-align: center;
      border: 1px solid #edf1f7;
      height: 32px;
      cursor: pointer;
      background: #fff;
      font-style: normal;
      line-height: 27px;
      background: #e4e9f2;
    }
    i:first-child {
      border-radius: 6px 0 0 6px;
    }
    i:last-child {
      border-radius: 0 6px 6px 0;
    }
    .qty {
      float: left;
      padding: 0 5px;
      width: 30px;
      border: 1px solid #f2f5f9;
      text-align: center;
      height: 32px;
      line-height: 26px;
      color: #222b45;
    }
  }
}
